# ============================================================================
# Puck Bot - Docker Compose
# ============================================================================
# FILE VERSION: v1.0.0
# Repository: https://github.com/the-alphabet-cartel/puck
# Community: The Alphabet Cartel - https://fluxer.gg/yGJfJH5C
# ============================================================================
name: puck

### Common Settings ###
x-common: &common
  restart: unless-stopped
  networks:
    - bragi-net

### Common Environmental Variables ###
x-env: &env
  PGID: ${PGID:-1000}
  PUID: ${PUID:-1000}
  TZ: ${TZ:-America/Los_Angeles}

### Common Healthcheck Settings ###
x-health: &health
  interval: 5s
  timeout: 10s
  retries: 3
  start_period: 60s
  start_interval: 30s

services:
  puck:
    image: ghcr.io/the-alphabet-cartel/puck:latest
    container_name: puck
    <<: *common
    environment:
      <<: *env
      TOKEN_FILE: /run/secrets/puck_token
      TWITCH_CLIENT_ID_FILE: /run/secrets/twitch_client_id
      TWITCH_CLIENT_SECRET_FILE: /run/secrets/twitch_client_secret
      YOUTUBE_API_KEY_FILE: /run/secrets/youtube_api_key
    env_file: .env
    secrets:
      - puck_token
      - twitch_client_id
      - twitch_client_secret
      - youtube_api_key
    volumes:
      - /opt/bragi/puck/logs:/app/logs
      - /opt/bragi/puck/data:/app/data
      - /opt/bragi/puck/config:/app/src/config
    healthcheck:
      <<: *health

secrets:
  puck_token:
    file: ./secrets/puck_fluxer_token
  twitch_client_id:
    file: ./secrets/twitch_client_id
  twitch_client_secret:
    file: ./secrets/twitch_client_secret
  youtube_api_key:
    file: ./secrets/youtube_api_key

networks:
  bragi-net:
    external: true
